<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <meta name="description" content="">
	    <meta name="author" content="">

	    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

	    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	    <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
	    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

	    <link href="css/landing-page.min.css" rel="stylesheet">
		<title>Airline ticket search</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

		<style>
			table, th , td  {
			  border: 1px solid grey;
			  border-collapse: collapse;
			  padding: 5px;
			}
			table tr:nth-child(odd) {
			  background-color: #f1f1f1;
			}
			table tr:nth-child(even) {
			  background-color: #ffffff;
			}
		</style>
	</head>


	<body>
		<script src="scripts.js"></script>




		<div ng-app="searchApp" ng-controller='searchCtrl'>
		    
		    <nav class="navbar navbar-light bg-light static-top">
		      <div class="container-fluid">
		      	<div class="row">
			      	<div class = "column-md-4">
			        	<a class="navbar-brand" href="#">Flight Search</a>
			        </div>
			      </div>
			      	<div class="column-md-8">
	      			      <form id="signin" class="navbar-form navbar-right" role="form" ng-hide= "loggedin">
	      			      	<div class="container-fluid">
	      			      		<div class="row">
	      			      			<div class="column-sm-5">
				                        <div class="input-group column-sm-4">
				                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
				                            <input type="text" class="form-control" placeholder="username" ng-model="username">
				                        </div>
			                        </div>

	      			      			<div class="column-sm-5">

				                        <div class="input-group">
				                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
				                            
				                            <input type="password" class="form-control" name="password" placeholder="password" ng-model="password" ><br>
				                        </div>
			                        </div>


			                        <div class="column-sm-2">
			                        	<button type="button" class="btn btn-primary" ng-click = "login()">Log in</button>
			                    	</div>	
			                    </div>
		                    </div>
		                   </form>
		             </div>
		        </div>
		    </nav>

		    <header class="masthead text-white text-center">
		      <div class="overlay"></div>
		      <div class="container">
		        <div class="row">
		          <div class="col-xl-9 mx-auto">
		            <h1 class="mb-5">Start with your interest of flight here</h1>
		          </div>
		          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
		            <form>
		              <div class="form-row">
		                <div class="col-12 col-md-9 mb-2 mb-md-0">
							<input type="text" class="form-control form-control-lg" placeholder = "start" ng-model="start"><br>
							<input type="text" class="form-control form-control-lg" placeholder = "dest" ng-model="dest"><br>
							<input type="text" class="form-control form-control-lg" placeholder = "date" ng-model="date"><br>

		                </div>
		                <div class="col-12 col-md-3">
							<button type="button" class="btn btn-block btn-lg btn-primary" ng-click="doSearch()">Search</button><br>

		                </div>
		              </div>
		            </form>
		          </div>

		        </div>

		      </div>
		    </header>

          	<div class="well">
				<table class="table"> 
					<tr ng-repeat=" x in websites">
						<td> {{x.name}} </td>
						<td> {{x.price}} </td>
					</tr>

				</table>
			</div>
		</div>

	</body>
</html>
